<!DOCTYPE html>
<html>
  <head>
    <title>Contact</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("header") %>

    <section class="form">
      <form action="">
        <label for="prenom">Prenom</label><br>
        <input type="text" name="prenom"placeholder="Votre prenom" id="prenom"><br>
        
        <label for="nom">Nom</label><br>
        <input type="text" name="nom" id="nom" placeholder="Votre nom"><br>

        <label for="email">Email</label><br>
        <input type="email" name="email" id="email" placeholder="abcde@email.com"><br>

        <label for="message">Message</label><br>
        <textarea name="message" id="message" placeholder="Votre message"></textarea><br><br>

        <button>Envoyer</button>
      </form>
    </section>
  </body>
</html>
