<!DOCTYPE html>
<html>
  <head>
    <title>Services</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("header") %>

    <h1 style="text-align: center; margin-top: 60px;">Nos services</h1>

    <section class="services" style="margin-top: 80px;">
      <div>
        <img width="300px" src="https://miro.medium.com/v2/resize:fit:1400/1*fHrAZJ1_L0Ff9dvVexL5_A.png" alt="">
        <h2>Developpement web</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex est maiores rem cumque a esse.
           Provident praesentium cum, voluptatum ex non soluta asperiores laudantium,
            modi odit officiis consectetur dolorem recusandae.</p>
      </div>

      <div>
        <img width="300px" src="https://www.simplilearn.com/ice9/free_resources_article_thumb/How_to_Learn_Web_Designing.jpg" alt="">
        <h2>Web designing</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex est maiores rem cumque a esse.
           Provident praesentium cum, voluptatum ex non soluta asperiores laudantium,
            modi odit officiis consectetur dolorem recusandae.</p>
      </div>

      <div>
        <img width="250px" src="https://corsicacom.cc/wp-content/uploads/2017/07/img_2831-700x467.jpg" alt="">
        <h2>Publicité</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex est maiores rem cumque a esse.
           Provident praesentium cum, voluptatum ex non soluta asperiores laudantium,
            modi odit officiis consectetur dolorem recusandae.</p>
      </div>
    </section>
  </body>
</html>
