<!DOCTYPE html>
<html>
  <head>
    <title>Contact</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("header") %>
    <h1 style="text-align: center;margin-top: 150px;color: rgb(234, 86, 86);">
      L'application n'est disponible que pendant les heures de travail (du lundi au vendredi, de 9 à 17h).
    </h1>
  </body>
</html>
